.myImage{
    width:100%;
    height: 30%;
}


.footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
  }
 

  .browser{
    text-align: center;
  }
  .contactus{
    text-align: center;
  }
  .name{
    text-align: center;


  }
  
    
 
 